# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db
*.ipynb

# Environments
.env
.venv/
.envrc
google_credentials.json

# Data
data/
data/raw/
data/processed/

# Build / Packaging
dist/
build/
*.egg-info/
